@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  background-color: #f3f4f6;
}

* {
  box-sizing: border-box;
}

@theme {
  --font-primary: "Afacad Flux", serif;
  --color-primary: #101829;
  --color-secondary: #fcfcfc;
}
